html{
    font-size: 100%;
    box-sizing:border-box;

  
}

*, *::before, *::after {
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    font-weight: 500;
    height: 100%;
    font-size: 12px;
    
    &.noscroll{
        overflow: hidden;
    }
}


#grid-container{
    display:grid;
    height: 100%;
    grid-template-columns: 50% 50%;
}

#showcase{
    height: 800px;
    overflow: scroll;
    
}
.column{
    padding:20px;
    height: 100%;
}

#input-form{
    width: auto;
    height: auto;
    
    
    border: 1px solid #000;
    border-radius: 20px;
    align-self: center;
    padding: 20px;
    padding-bottom: 0;
    float: center;
    
}
