{% extends "layout.html" %}

{% block title %}Input a Song and an Artist{% endblock %}

{% block content %}

<p>Enter a song, an artist, and a number of songs, and click "submit" to generate multiple songs from all types of genres that you might like!</p>

<form action="/display_songs">
  <label for="song">Song:</label>
  <input type="text" id="song" name="song" placeholder="song">
  <label for="artist">Artist:</label>
  <input type="text" id="artist" name="artist" placeholder="artist">
  <label for="number">Number of Songs:</label>
  <input type="number" id="number" name="number" placeholder="number">
  <button type="submit">Generate Songs</button>


  <!-- <p>Song: <input type="text" name="song" value="Song"></p>
  <input type="submit" value="Submit">

  <p>Artist: <input type="text" name="artist" value="Artist"></p>
  <input type="submit" value="Submit">

  <p>Number of songs: <input type="number" name="number" value="Number of songs"></p>
  <input type="submit" value="Submit"> -->

</form>



{% endblock %}